#You need to fill in the dynamic database information in the settings.py file in this line by including it in the .env file.

#Since .env information will change according to the installed environment, it is not included in the repo. You can contact Jean, Oktay or Emin to learn database information.
